body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
}

.order-container,
.container {
  width: 50%;
  padding: 30px;
  margin: 60px auto;
}

.container {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(235, 232, 232);
  border-radius: 8px;
  padding: 20px;
}

h2 {
  text-align: center;
  color: black;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

input {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  margin-top: 5px;
  font-size: 16px;
}

input:focus {
  outline: none;
  border-color: #7e8089;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
  background-color: #7e8089;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  margin-top: 15px;
}

button:hover {
  background-color: #80aacf;
  color: black;
}

.success-message {
  color: #28a745;
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
}

.error-message {
  color: #dc3545;
  font-size: 14px;
  margin-top: 5px;
  padding: 5px;
}
