<app-courier-navbar></app-courier-navbar>

<div class="container">
<h1>All Accepted Orders</h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let order of orders">
    <td (click)="viewOrderDetails(order.id)" >{{ order.id }}</td>
    <td (click)="viewOrderDetails(order.id)" >{{ order.status }}</td>
    <td><button (click)="updateOrderStatus(order.id)" class="edit-button">Update Order Status</button></td>
  </tr>
  </tbody>
</table>
</div>
